OSS_ALI_ACCESS_KEY_ID=
OSS_ALI_ACCESS_KEY_SECRET=
OSS_ALI_END_POINT=http://oss-cn-hangzhou.aliyuncs.com
#IMG
OSS_ALI_BUCKET_NAME=org-azolla-img
OSS_ALI_MAX_CONNECTIONS=10
OSS_ALI_CONNECTION_TIMEOUT=5000
OSS_ALI_MAX_ERROR_RETRY=3
OSS_ALI_SOCKET_TIMEOUT=2000
OSS_ALI_DOMAIN_NAME=http://img.azolla.org/